div#containbox {
    position: absolute;
    left: 50%;
    margin-left: -210px;
    margin-top: 100px;
    border: 4px solid;
    box-shadow: 0 0 2px #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 420px;
    height: 540px;
}

#containbox div {
    width: 56px;
    height: 56px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    margin: 1px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
